@font-face {
	font-family: 'iconos';
	src:url('fonts/icomoon.eot?-etyqoi');
	src:url('fonts/icomoon.eot?#iefix-etyqoi') format('embedded-opentype'),
		url('fonts/icomoon.woff?-etyqoi') format('woff'),
		url('fonts/icomoon.ttf?-etyqoi') format('truetype'),
		url('fonts/icomoon.svg?-etyqoi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


aside
	position fixed
	height 100%
	background #1C1C1C
	left 0
	//border-right 50px solid black
body
	padding-top 0
	margin 0 auto
	padding 0
	height 100%
		
footer
	background #1C1C1C
	color white
	
span
	margin-left 20px
	font-size 20px
	
.contenedor
	width 100%
	
.cont
	position inherit
	margin 0px 0px 0px 250px
	padding 0px 30px
	border-left 1px solid #E7E7E7
	
.barra
	background transparent
	
.navbar-left
	background transparent
	width 250px
	height 100%
	
.pie
	position relative
	background black
	color red
	
.datos
	display flex
	position relative
	justify-content space-between
	margin-top 5px
	font-size 25px

.holaa
	position absolute
	background #222
	display block
	top 50px
	height 2100px	 
	
.navbar-fixed-top
	position fixed
	
.navbar-heder
	color white
	
.navbar-default
	background transparent
	border-color transparent
	
.navbar
	margin-bottom 0
	
.navbar-inverse
	
	 border 0
	
.nav-tabs
	position block
	border-color transparent
	
	li
		width 100%
		
		font-size 15px
		font-weight bold
		
		
#grafica
	position relative
	padding 0 10px 0 10px
	left -15px

#chart-area
	position relative
	padding 0 10px 0 10px
	left -15px

	
.glyphicon-cloud
	font-size 70px
	position relative
	z-index 1
	
.otro
	font-size 45px
	position relative
	padding-right 15px
	float right
	
.pull-left
	font-size 16px
	
.panel-green
	background #5cb85c
	
.panel-grey
	background black
	color white
	
	
.panel-orange
	background orange
	color white

.icono-mensajes
	&:after
		font-family iconos
		content "\e604"
		font-size 64px
		
	&:hover
		color pink
		
.icono-come
	&:before
		font-family iconos
		content "\e609"
		font-size 64px
		
	&:hover
		color blue
	

.icono-question
	&:before
		font-family iconos
		content "\e60f"
		font-size 64px
		
	&:hover
		color blue
		


.icono-tareas
	&:before
		font-family iconos
		content "\e606"
		font-size 64px
		
	&:hover
		color blue
		

.icono-graph
	&:before
		font-family iconos
		content "\e60c"
		font-size 18px
		padding-right 30px
		padding-left 10px
		
.icono-camera
	&:before
		font-family iconos
		content "\e602"
		font-size 18px
		padding-right 30px
		padding-left 10px
		
.icono-cog
	&:before
		font-family iconos
		content "\e603"
		font-size 18px
		padding-right 30px
		padding-left 10px
		
.icono-game
	&:before
		font-family iconos
		content "\e03b"
		font-size 18px
		padding-right 30px
		padding-left 10px

	
@media screen and (max-width: 767px)
	
	aside
		position initial
		display initial
		height 100%
		width auto
		
	.dropdown-toggle
		left 20px
	.form-control
		width 95%
		margin-left 10px
	.navbar-left
		width auto
		background #BDBDBD
		
	.navbar-collapse 
		padding 0
		overflow hidden
	.navbar-heder
		color black
		
	.cont
		margin 0
		
		
@media screen and (max-width: 450px)
	.datos
		text-align center
		font-size 15px