div.cont
	div.row
		div.col-lg-12
			h1.page-header Demo 3
			fomr(role='form' ng-controller="Demo3Controller as zy")
				div.form-group
					label(for='mail') Correo
					input.form-control(type='email' id='Demomail' ng-model="zy.mail" placeholder='Introduce Email')
				div.form-group
					label(for='pas') Contraseña
					input.form.control(type='password' id='DemoPas' ng-model="zy.pas" placeholder='Contraseña')
				div.form-group
					label(for='file') Adjuntar Archivo
					input.form-control(type='file' id='Demofile' ng-model="zy.file")
				button.btn.btn-default(type='submit' ng-click="add()") Enviar
