div.cont
	div.row
		div.col-lg-12
			h1.page-header Panel de Control
		div.col-lg-3.col-md-6
			div.panel.panel-primary
				div.panel-heading
					div.row
						span.icono-come
							div.otro 25
							div.col-md-12.text-right ventas
				a(href="#")
					div.panel-footer
						span.pull-left mas detalles
						div.clearfix
		div.col-lg-3.col-md-6
			div.panel.panel-green
				div.panel-heading
					div.row
						span.icono-come
							div.otro 30
							div.col-md-12.text-right Nuevos Comentarios
				a(href="#")
					div.panel-footer
						span.pull-left mas detalles
						div.clearfix
		div.col-lg-3.col-md-6
			div.panel.panel-grey
				div.panel-heading
					div.row
						span.icono-question
							div.otro 55
							div.col-md-12.text-right Preguntas
				a(href="#")
					div.panel-footer
						span.pull-left mas detalles
						div.clearfix
		div.col-lg-3.col-md-6
			div.panel.panel-orange
				div.panel-heading
					div.row
						span.icono-tareas
							div.otro 99
							div.col-md-12.text-right Tareas
				a(href="#")
					div.panel-footer
						span.pull-left mas detalles
						div.clearfix
	div.row
		div.col-lg-8
			div.panel.panel-default
				div.panel-heading Ejemplo de grafica con chart.js 
				div.panel-body
					canvas(id="chart-area" ng-init="inicio()")
					div.datos 
		div.col-lg-4
			div.panel.panel-default
				div.panel-heading noticias
				div.panel-body Lorem voluptate hic necessitatibus aspernatur, reprehenderit quibusdam cumque eveniet maiores excepturi laudantium, eos ratione eaque.
